body {
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#operator {
    background-color:aqua;
}

#number {
    background-color: bisque;
}

#display {
    border-style:solid;
    height: 25px
}

#calc {
    width: 250px;
    display: flex;
    flex-direction: column;
    border-style:solid;

}

#pad {
    display: flex;
}

#numberPad {
    width: 90px;
    display: flex;
    flex-wrap: wrap;
}